@import './../../assets/css/variables.css';

.go-back {
  & {
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
  }

  .arrow {
    display: inline-block;
    padding-right: 30px;
  }
}

.titleWrap {
  padding: 60px 0;
}

.cart {
  overflow: hidden;
  padding: 80px 30px;
  margin-bottom: 80px;
  background: var(--color--gray-bg);
  font-size: 22px;
  border: 6px solid var(--color--brown);
  border-radius: 4px;
}

.info-wrap {
  padding: 20px 0;
}
